<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <title>Sales Forecasting</title>
    </head>
    <body>
        <div class="container">
            <h2 class="col-md-6 mb-5">Sales forecast</h2>
            <div class="mt-3" id="input_data">
                <div class="form-group col-md-6">
                    <label class="col-md-3" for="date">Date</label>
                    <input type="text" id="date" placeholder="2017-06-14">
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3" for="item_nbr">Product</label>
                    <select id="item_nbr">
                      <option value="99197" selected>Milk</option>
                      <option value="105574">Cheese</option>
                      <option value="1963838">Soap</option>
                    </select>
                </div>
                <div class="form-group col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="col-md-6" style="border: 1px solid; font-weight: bold;">Prediction:
                <span id="prediction"></span>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="static/index.js"></script>
    </body>
</html>
